@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

*{
    padding: 0;
    margin: 0;
    color: #0a060af2;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0a060af2;
    font-family: 'Rubik', sans-serif;
}

.main-container{
    flex: 1;
    width: 578px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.header{
    text-align: center;
    background-color: #ef5353;
    padding: 10px 4px;
}

.header h1{
    font-size: 44px;
    color: #0a060af2;
    font-weight: 800;
}

.msg{
    background-color: #99ffcc;
    color: #0a060af2;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    padding: 8px 0;
}

.flex-top-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.flex-top-container .color-picker-container{
    display: flex;
    align-items: center;
    flex: 1;
}

.flex-top-container .color-picker-container .color-picker-text{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
}

.flex-top-container .color-picker-container .pickr{
    box-shadow: 2px 2px 4px rgba(240, 255, 238, 0.4);
}

.flex-top-container .eraser-btn{
    color: #0a060af2;
    background-color: #ef5353;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.flex-top-container .shade-btn{
    color: #0a060af2;
    background-color: #ef5353;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.flex-bottom-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.flex-bottom-container div{
    background-color: #ef5353;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.main-container .sketchpad-container{
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(193, 193, 193, 0.499);
}

.sketchpad-container .grid-container{
    width: 576px;
    height: 576px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #0a060af2;
}

.grid{
    box-sizing: border-box;
}

.main-container .bottom-toolbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .bottom-toolbox h3{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.main-container .bottom-toolbox div{
    transition: 0.3s;
}

.main-container .bottom-toolbox .clear-btn{
    background-color: #ef5353;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.footer{
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}

.footer div{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.footer img{
    width: 26px;
}